.bar {
  margin: 5% calc(5% + 1px) 0 5%;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 10px;
  border:solid 1px rgba(245, 249, 252, 0.3);
  background: var(--light-black);
  border-radius: 15px 15px 0 0;
}
.bar img {
  background: var(--dark-grey);
  width: 40px;
  height: 40px;
  border:solid 1px rgba(245, 249, 252, 0.3);
  border-radius: 10px;
  padding: 3px;
}
.bar button {
  margin: 10px;
}
.bar button:first-of-type {
  margin-left: auto !important;
}
.bar h1 {
  margin: 0 0 0 10px;
  padding: 0;
  display: inline-block;
}
.firstPart {
  top: -56px;
  margin: 0 5% 5% 5%;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
  max-height: 600px;
  z-index: 1;
  background: var(--light-black);
}
.iframe {
  height: 100%;
  width: 50%;
  position: relative;
}
.iframe iframe {
  width: 100%;
  height: 100%;
  border: solid 1px rgb(245, 249, 252, 0.3);
  border-radius: 0 5px;
}
.iframe:after {
  content: '';
  position: absolute;
  left: -1px;
  width: calc(100% + 2px);
  top: 0;
  height: 55px;
  background: var(--light-black);
}
.comments {
  left: -1px;
  top: 55px;
  width: 50%;
  height: calc(100% - 55px);
  position: relative;
  border: solid 1px rgb(245, 249, 252, 0.3);
  border-radius: 0 0 5px 0;
}
.comBar {
  position: relative;
  width: 100%;
  height: 51px;
  padding: 10px;
  border-bottom: solid 1px rgb(245, 249, 252, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comBar h2 {
  padding: 0;
  margin: 0;
}