.firstPart {
  margin: 5%;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
  max-height: 600px;
}
.iframe {
  flex-grow: 6;
  height: 100%;
  max-width: 1000px;
  position: relative;
  float: left;
}
.iframe iframe {
  width: 100%;
  height: 100%;
  border: solid 1px rgb(245, 249, 252, 0.3);
  border-radius: 0 5px;
}
.iframe:after {
  content: '';
  position: absolute;
  left: -1px;
  width: calc(100% + 2px);
  top: 0;
  height: 55px;
  background: var(--light-black);
}
.comments {
  left: -1px;
  flex-grow: 4;
  top: 55px;
  min-width: 250px;
  height: calc(100% - 55px);
  position: relative;
  border: solid 1px rgb(245, 249, 252, 0.3);
  border-radius: 0 0 5px 0;
}
.comBar {
  position: relative;
  width: 100%;
  height: 51px;
  padding: 8px;
  border-bottom: solid 1px rgb(245, 249, 252, 0.3);
}