.role {
  font-size: 16px !important;
  margin: 10px;
  padding: 5px 15px;
  border-radius: 6px;
  background: var(--black);
  display: inline-flex;
  position: relative;
  justify-content: center;
}
.tooltip {
  visibility: hidden;
  width: max-content;
  max-width: min(90vw, 350px);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  bottom: 125%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
  transition-delay: 0.5s;
}
.tooltip, * > .tooltip:after {
  position: absolute;
  background: var(--grey);
  border: solid 1px var(--white);
}
* > .tooltip:after {
  content: '';
  top: calc(100% - 5px);
  left: calc(50% - 5px);
  width: 10px;
  height: 10px;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}
*:hover > .tooltip {
  visibility: visible;
  opacity: 1;
}
.button-blue {
  background: #0053a6;
}
.button-blue:hover {
  border-color: #57abff;
}
.button-green {
  background: rgb(4, 97, 19);
}
.button-green:hover {
  border-color: rgba(108, 217, 126, 0.53);
}
.button-red {
  background: transparent;
  color: rgb(255, 102, 102);
  border-color: #A60808;
}
.button-red:hover {
  background: rgba(166, 8, 8, 0.55);
}
.working, .notworking {
  display: inline-block;
  padding: 6px 12px;
  border: solid 1px #A60808;
  border-radius: 10px;
  color: rgb(255, 82, 82);
}
.repl {
  list-style: none;
  padding: 10px;
  margin: 15px;
  background: var(--dark-grey);
  cursor: pointer;
  border: solid 1px var(--grey);
  border-radius: 10px;
  transition: 0.12s;
  min-width: 450px;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.repl:hover {
  box-shadow: 0 2.5px 0.1em var(--grey);
  transform: translateY(-3px);
}
.repl > li:first-child {
  display: flex;
  justify-content: space-between;
}
.repl h2 {
  font-size: 32px;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.repl li:nth-child(3) {
  font-size: 18px;
  display: block;
  text-align: center;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}
.repl b {
  vertical-align: middle;
  margin: 10px;
  padding: 5px 15px;
}
.repl li:last-child .role {
  vertical-align: middle;
}
.replcontainer {
  margin: calc(5% - 15px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.comment {
  display: block;
  padding: 10px;
}
.comment img {
  width: 32px;
  float: left;
}
.comment b {
  margin: 0 10px;
}
.comment i {
  font-size: 0.8em;
}
.comment div {
  position: relative;
  width: calc(100% - 45px);
  left: 42px;
  top: -12px;
}